@font-face {
    font-family: 'mullerbold_italic';
    src: url('../fonts/muller/muller-bold_italic.eot');
    src: url('../fonts/muller/muller-bold_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/muller/muller-bold_italic.woff2') format('woff2'),
    url('../fonts/muller/muller-bold_italic.woff') format('woff'),
    url('../fonts/muller/muller-bold_italic.ttf') format('truetype'),
    url('../fonts/muller/muller-bold_italic.svg#mullerbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerbold';
    src: url('../fonts/muller/muller-bold.eot');
    src: url('../fonts/muller/muller-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/muller/muller-bold.woff2') format('woff2'),
    url('../fonts/muller/muller-bold.woff') format('woff'),
    url('../fonts/muller/muller-bold.ttf') format('truetype'),
    url('../fonts/muller/muller-bold.svg#mullerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerlight';
    src: url('../fonts/muller/muller-light.eot');
    src: url('../fonts/muller/muller-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/muller/muller-light.woff2') format('woff2'),
    url('../fonts/muller/muller-light.woff') format('woff'),
    url('../fonts/muller/muller-light.ttf') format('truetype'),
    url('../fonts/muller/muller-light.svg#mullerlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mullerregular_italic';
    src: url('../fonts/muller/muller-regular_italic.eot');
    src: url('../fonts/muller/muller-regular_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/muller/muller-regular_italic.woff2') format('woff2'),
    url('../fonts/muller/muller-regular_italic.woff') format('woff'),
    url('../fonts/muller/muller-regular_italic.ttf') format('truetype'),
    url('../fonts/muller/muller-regular_italic.svg#mullerregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muller_regularregular';
    src: url('../fonts/muller/muller-regular.eot');
    src: url('../fonts/muller/muller-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/muller/muller-regular.woff2') format('woff2'),
    url('../fonts/muller/muller-regular.woff') format('woff'),
    url('../fonts/muller/muller-regular.ttf') format('truetype'),
    url('../fonts/muller/muller-regular.svg#muller_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}