@import "moz.css";
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
/*
 * По умолчанию горизонтальная линейка
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Удалить разрыв между audio, canvas, iframes,
 * images, videos и дна контейнеров:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Удалить по умолчанию набор полей стилей
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Допускают только вертикальное изменение размеров textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Браузер Обновить Строки
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: muller_regularregular, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.66em;
  letter-spacing: 0.025em;
  -webkit-text-size-adjust: 0.625em;
  /* 2 */
  -ms-text-size-adjust: 0.625em;
  /* 2 */
  color: #333;
  background-color: #e6e6e7;
  font-kerning: auto;
}
html {
  font-size: inherit;
}
p {
  font-size: 1.600em;
}
.fadeIn {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
header {
  width: 100%;
  height: 397px;
  background-color: #f8dc00;
}
header .left-header {
  height: 395px;
  float: left;
  width: 44.4%;
  border-bottom: 39.700em solid #fff;
  border-left: 0px solid transparent;
  border-right: 107px solid transparent;
}
header .left-header img {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  display: block;
  text-align: center;
  margin: 10% 0 0 80px;
}
header .right-header {
  height: 397px;
  background-color: #f8dc00;
  width: 55.6%;
  position: relative;
}
header .right-header .right-header-info {
  margin-left: 275px;
  margin-top: 80px;
}
header .right-header .right-header-info p {
  float: left;
  margin-right: 35px;
  font-size: 1.500em;
  color: #575756;
}
header .right-header .right-header-info p i {
  font-size: 24px;
}
header .right-header .right-header-number {
  margin-left: 180px;
}
header .right-header .right-header-number p {
  font: 4.4em mullerbold, sans-serif;
  color: #575756;
}
header .right-header .right-header-email {
  margin-left: 371px;
}
header .right-header .right-header-email p {
  font: 4.4em mullerbold, sans-serif;
  font-size: 2.759em;
  text-align: left;
  color: #575756;
}
header .right-header .right-header-email p i {
  margin-right: 15px;
}
header .right-header .right-header-menu {
  margin-top: 75px;
  margin-left: 75px;
  overflow: hidden;
}
header .right-header .right-header-menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 34px;
}
header .right-header .right-header-menu ul li a {
  font: 2em mullerlight, sans-serif;
  color: #575756;
}
header .right-header .right-header-menu ul li a:hover {
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
  border-bottom: 3px solid #575756;
  line-height: 2em;
  display: inline-block;
}
header .right-header .right-header-menu ul li a.active {
  line-height: 2em;
  display: inline-block;
  border-bottom: 3px solid #575756;
}
header .right-header .row {
  float: left;
}
header .right-header .bg-right-header {
  position: absolute;
  width: 10%;
  height: 397px;
  background-color: #f8dc00;
  right: 0;
}
.slider {
  width: 100%;
  height: 39.600em;
  overflow: hidden;
  background-color: #f8dc00;
  position: relative;
}
.slider .slider-leftBox {
  border-bottom: 39.6em solid #575756;
  border-left: 0px solid transparent;
  border-right: 107px solid transparent;
  height: 0;
  width: 50%;
  position: relative;
  z-index: 1;
}
.slider .slider-leftBox p {
  font-size: 4.000em;
  margin: 0;
  line-height: 1.3em;
}
.slider .slider-leftBox p a {
  color: #fff;
}
.slider .slider-leftBox .sync2 .owl-wrapper {
  padding-top: 25px;
}
.slider .slider-leftBox .sync2 .owl-item {
  float: none;
  width: 100% !important;
  margin-left: 130px;
}
.slider .slider-leftBox .sync2 .owl-item .item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.slider .slider-leftBox .sync2 .owl-item .item a {
  font: 3.924em mullerlight, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.slider .slider-leftBox .sync2 .owl-item .item a.synced {
  color: #f8dc00;
}
.slider .slider-leftBox .sync2 .owl-item .item a.synced:after {
  margin-left: 15px;
  font: 1em FontAwesome ;
  content: "\f0da";
}
.slider .slider-leftBox .slider-button {
  display: inline-block;
  padding: 10px 15px;
  border: 3px solid #f8dc00;
  margin-top: 15px;
  margin-left: 130px;
  font: 2.193em mullerlight, sans-serif;
  color: #f8dc00;
}
.slider-rightBox {
  height: 39.600em;
  width: 50%;
}
.slider-rightBox .sync1 {
  position: relative;
  left: -127px;
}
.slider-rightBox .sync1 .item {
  height: auto;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.about {
  height: 44.30em;
  width: 100%;
  background-color: #f33353;
}
.about .about-leftBox {
  width: 40%;
}
.about .about-leftBox h3 {
  margin-top: 55px;
  margin-left: 130px;
  color: #ffffff;
}
.about .about-leftBox p {
  line-height: normal;
  margin-left: 130px;
  margin-right: 20px;
  color: #fff;
}
.about .about-leftBox .about-button {
  display: inline-block;
  padding: 5px 15px;
  border: 3px solid #f8dc00;
  margin-top: 15px;
  margin-left: 130px;
  font: 2.193em mullerlight, sans-serif;
  color: #f8dc00;
}
.about .about-rightBox {
  width: 60%;
}
.about .about-rightBox .owl-theme .owl-controls {
  margin-top: 0;
}
.about .about-rightBox .owl-theme .owl-controls .owl-page.active span {
  background-color: #f8dc00;
}
.about .about-rightBox .owl-theme .owl-controls .owl-page span {
  opacity: 1;
  border-radius: 0;
  background-color: #fff;
}
.about .about-rightBox #owl-demo .item {
  position: relative;
}
.about .about-rightBox #owl-demo .item p {
  color: #fff;
  text-align: right;
  font: 3.101em 'mullerlight', sans-serif;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 50%;
}
.about .about-rightBox #owl-demo .item p span {
  font-family: 'mullerbold';
  color: #f8dc00;
}
.about .about-rightBox #owl-demo .item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio {
  height: auto;
  width: 100%;
  background-color: #dddddd;
}
.portfolio h3 {
  margin-top: 50px;
  margin-left: 69px ;
  margin-bottom: 25px;
  font-size: 2.500em;
  text-transform: uppercase;
}
.work {
  min-height: 435px;
  background-color: #fff;
  padding-bottom: 25px;
}
.work h3 {
  text-transform: uppercase;
}
.work .work-item img {
  margin: 35px auto;
  display: block;
  text-align: center;
}
.work .work-item p {
  font: 2em 'mullerlight', sans-serif;
  text-align: center;
  color: #575756;
}
.work a {
  font: 2.193em 'mullerlight', sans-serif;
  display: inline-block;
  padding: 5px 15px;
  border: 3px solid #f33353;
  margin-top: 15px;
  margin-left: 130px;
  color: #f33353;
}
.contacts {
  border-top: 1px solid #dddddd;
  background-color: #fff ;
  padding: 75px 75px;
  position: relative;
  outline: hidden;
}
.contacts .form-group {
  overflow: hidden;
}
.contacts p {
  line-height: normal;
}
.map {
  width: 100%;
  height: 386px;
}
footer {
  padding-top: 35px;
  height: 279px;
  width: 100%;
  background-color: #575756;
}
footer p {
  line-height: 1.1em;
  font-size: 2.300em;
  text-align: center;
  color: #fff;
}
footer .number {
  font: 3.2em 'mullerbold', sans-serif;
  color: #f8dc00;
}
