@import "moz.css";
@import "elements";

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
/*
 * По умолчанию горизонтальная линейка
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Удалить разрыв между audio, canvas, iframes,
 * images, videos и дна контейнеров:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Удалить по умолчанию набор полей стилей
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Допускают только вертикальное изменение размеров textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Браузер Обновить Строки
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
//Basic style less
.outline(@color){
  outline: 1px solid @color;
}
@color_basic:#f8dc00;
@color_basic2:#575756;
@color_basic3:#f33353;
@color_basic4:#dddddd;

body {
  font-family: muller_regularregular,Helvetica Neue,Helvetica,Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.66em;
  letter-spacing: 0.025em;
  -webkit-text-size-adjust: 0.625em; /* 2 */
  -ms-text-size-adjust: 0.625em; /* 2 */
  color: #333;
  background-color: #e6e6e7;
  font-kerning: auto;
}
html{
  font-size: inherit;
}


p{
  font-size:1.600em;
}
.fadeIn{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
//Сили для Header
header{
  width: 100%;
  height: 397px;
  background-color:@color_basic;
  //Сили для левого блока
  .left-header{
    height: 395px;
    float: left;
    width: 44.4%;
    border-bottom: 39.700em solid #fff;
    border-left: 0px solid transparent;
    border-right: 107px solid transparent;

    img{
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      display: block;
      text-align: center;
      margin: 10% auto;
    }
  }
  //Сили для правого блока
  .right-header {
    height: 397px;
    background-color: @color_basic;
    width: 55.6%;
    position: relative;

    .right-header-info,.right-header-number,.right-header-email, .right-header-menu{ //Обноление трансформация для всех внутренних блоков
    }
    .right-header-info{
      margin-left:275px;
      margin-top: 80px;
      p{
        float: left;
        margin-right: 35px;
        font-size: 1.500em;
        color: @color_basic2;
        i{
          font-size:24px;
        }
      }
    }
    .right-header-number{
      margin-left: 180px;
      p{
        font:4.400em mullerbold, sans-serif;
        color: @color_basic2;
      }
    }
    .right-header-email{
      margin-left: 371px;
      p{
        font:4.400em mullerbold, sans-serif;
        font-size: 2.759em;
        text-align: left;
        color: @color_basic2;
        i{
          margin-right: 15px;
        }
      }

    }
    .right-header-menu{
      margin-top: 75px;
      margin-left:75px;
      overflow: hidden;
      ul li{
        list-style: none;
        display: inline-block;
        margin-right: 34px;
        a{
          font:2em mullerlight, sans-serif;
          color: @color_basic2;
          &:hover{
            .transition-duration(0.2s);
            text-decoration:none;
            border-bottom: 3px solid @color_basic2;
            line-height: 2em;
            display: inline-block;
          }
          &.active{
            line-height: 2em;
            display: inline-block;
            border-bottom: 3px solid @color_basic2;
          }
        }
      }
    }
    .row{
      float: left;
    }
    .bg-right-header{
       position: absolute;
       width: 10%;
       height: 397px;
       background-color: @color_basic;
       right: 0;
     }
  }
}
.slider{
  width: 100%;
  height: 39.600em;
  overflow: hidden;
  background-color: @color_basic;
  .slider-leftBox{
    float: left;
    border-bottom: 39.600em solid @color_basic2;
    border-left: 0px solid transparent;
    border-right: 107px solid transparent;
    height: 0;
    width: 50%;
    p{
      font-size: 4.000em;
      margin: 0;
      line-height: 1.3em;
      a{
        color: #fff;
      }

    }
  }
  .slider-rightBox{
    height: 39.600em;
    width: 50%;

  }
  h1{
    margin: 0;
    padding: 0;
  }

}


#sync1 .item{
  background: #0c83e7;
  padding: 80px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#sync2 .item{
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item h1{
  font-size: 18px;
}
#sync2 .synced .item{
  background: #0c83e7;
}



